body {
  margin: 0;
  background: grey; }

#canvasContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #canvasContainer canvas {
    border: solid black 2px; }

.playerInfoContainer {
  display: flex;
  flex-direction: column; }

.gameState {
  margin-top: 20px; }
